.projects {
    padding-bottom: 4rem;
    background-image: linear-gradient(to right, #FCFDFF, #D3DEDC);
}

.p-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: initial;
    margin: 10px 78px;
}

.p-head {
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem !important;
    font-family: 'Montserrat', sans-serif;
}

.p-cards {
    width: 18rem;
    margin: 0.5rem;
}

@media screen and (max-width: 786px) {
    .projects {
        background-image: none;
    }

    .p-box {
        flex-direction: column;
        margin: 0 1rem;
        justify-content: center !important;
    }

    .p-cards {
        width: 100% !important;
        margin: 2px;

    }
    .p-head{
        font-size: 2.5rem !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .p-box {
        margin: 0 3rem;
        justify-content: center !important;
    }

    .projects {
        background-image: none;

    }
}