.cd-body {
    height: 100% !important;
    border-radius: 1.25rem !important;
    padding: 1rem !important;
}

.p-code-btn {
    background-color: #1A374D !important;
    border: none !important;
    color: white !important;
    cursor: pointer;
}

.p-code-btn:hover {
    background-color: #6998AB !important;
    border: none !important;
    color: white !important;
    cursor: pointer;
    transform: scale(1.07);
}

.cd-img {
    height: 8rem;
    margin: auto;
    margin-top: 5px;
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 5rem;
}

.cd-title {
    font-size: 1.5rem !important;
}

.cd-desc {
    font-size: 1rem !important;
    font-family: 'Merriweather', serif;

}

@media screen and (max-width: 768px) {
    .cd-body {
        width: 100% !important;
    }
}