.cd-body {
    height: 100% !important;
    border-radius: 1.25rem !important;
    padding: 1rem !important;
}

.p-code-btn ,.p-demo-btn{
    background-color: #004377 !important;
    border: none !important;
    color: white !important;
    cursor: pointer;
}
.p-demo-btn{
    background-color: #2d4af5 !important;
float: right;
}

.p-code-btn:hover , .p-demo-btn:hover{
    background-color: #6998AB !important;
    border: none !important;
    color: white !important;
    cursor: pointer;
    transform: scale(1.07);
}
.p-demo-btn:hover{
    background-color: #456ff5 !important;
  
}
.cd-img {
    height: 8rem;
    margin: auto;
    margin-top: 5px;
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 5rem;
}

.cd-title {
    font-size: 1.5rem !important;
}

.cd-desc {
    font-size: 1rem !important;
    font-family: 'Merriweather', serif;

}

@media screen and (max-width: 768px) {
    .cd-body {
        width: 100% !important;
    }
}