.about{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #FCFDFF, #D3DEDC);

}

/* .ab-left-content{
    margin: auto;
} */
.about-left{
    flex:1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.scholar-img{
    width: 20rem;
    height: 20rem;
}
.about-right{
    flex:1;
}
.q-heads, .qual{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem !important;
    font-family: 'Montserrat', sans-serif;
}
.edu-list{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    
}
@media screen and (max-width: 760px) {
    .about{
        flex-direction: column !important;
        height: fit-content;
        background-image: none;
    }
    .about-left{
      color: black;
        background-color: white;
       
    }
    .ab-left-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .scholar-img{
        width: 10rem;
        height: 10rem;
    }
    
}