.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #FCFDFF, #D3DEDC);
}

.c-img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.contactImg {
    width: 50%;
    height: 50%;
}

.c-head {
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
}

.c-social-icons {
    text-align: center;
}

.cont-email {
    text-decoration: none;
    color: black !important;
    font-family: 'Montserrat';
    font-weight: 900;
}

.alert-box {
    height: 4rem;
}

@media screen and (max-width: 760px) {
    .contact {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
    }

    .contactImg {
        width: 45%;
        height: 50%;
    }

    .c-head {
        padding-top: 1rem;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Montserrat', sans-serif !important;

    }

    .c-phone {
        margin-top: 2rem !important;
    }

}